<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Academy @ViewBag.Title </title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")>
</head>

<body>
    <header>
        <nav>
            <div class="logo-container">

                @Html.ActionLink("Quiz Academy", "Index", "Home")
                <img src="/Images/bulb.png" alt="logo">
            </div>

            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul class="nav-links">
                <li>
                    @Html.ActionLink("About Us", "About", "Home")
                </li>
                <li>
                    @Html.ActionLink("Contact", "Contact", "Home")
                </li>
              
                @Html.Partial("_LoginPartial")
               

                
            </ul>

        </nav>
    </header>

    @RenderBody()


    <img class="big-circle" src="/Images/big-eclipse.svg" alt="">
    <img class="medium-circle" src="/Images/mid-eclipse.svg" alt="">
    <img class="small-circle" src="/Images/small-eclipse.svg" alt="">


    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)


</body>


</html>
